%p
  Lorem ipsum dolor sit amet,
  %em= @lorem_m
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  %a{:href => "#"} Morbi et risus
  Aliquam nisl. Nulla facilisi. Cras accumsan vestibulum ante. 
  Vestibulum sed tortor. Praesent
  %span.caps SMALL CAPS #{@lorem*2}
